# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof
/terraform-godaddy
/terraform-provider-godaddy*

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Environment
.envrc
.env
